

h2 {
    text-align: center;
    color: white;
    background-color: navy;
}


.title {
    background-color: navy;
    
}
.musicImage {
    
    background-color: navy;
    text-align:center;
    
    
    
    
}

#scoreBox {
    border: 1px black dashed;
    width: 12%;
    height: 45%;
    float: right;
    background-color: white;
    padding: 0 15px;
    
}
#scoreWins {
    float: left;
    background-color: white;
    border: 1px black dashed;
    width: 12%;
    height: 45%;
    
}


img {
    height: 200px;
    width: auto;
}

.rules {
    max-width: 65%;
    height: 40%;
    color: navy;
    margin: auto;
    background-color: white;
    opacity: 0.95;
      
   
}

.bground {
    background-color: navy;
    
}


body {
    background-color: navy;
    background-image: url("../images/boombox.png"); 
    margin-top: 20%;
    background-repeat: no-repeat;
    background-position: center;
}